{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <p>Логин или пароль не совпадают. Пожалуйста попробуйте еще раз.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>У вас нет доступа к этой странице. Пожалуйста войдите с учетной записью, которая имеет доступ.</p>
        {% else %}
            <p>Пожалуйста, войдите, чтобы увилеть эту страницу.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <input type="submit" value="Войти">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    
    {# password_reset еще не настроен #}
    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
{% endblock %}